---
layout: default
title: Clear Air Turbulence
name: Clear Air Turbulence
slug: clear-air-turbulence
image: /assets/images/artists/clear-air-turbulence/clear-air-turbulence.jpg
bluesky: https://bsky.app/profile/caturbulence.bsky.social
bio:
  en: >
    Based in the Vale, Clear Air Turbulence creates music in the highest places of Wales. From the peak of Yr Wyddfa to the summit of Cadr Idris.
    Often the only thing holding a high altitude recording back is the length of the trailing cable.
  cy: >
    Wedi’i leoli yn y Fro, mae Clear Air Turbulence yn creu cerddoriaeth yn y mannau uchaf yng Nghymru. O gopa Yr Wyddfa i gopa Cadr Idris.
    Yn aml, yr unig beth sy'n dal uchder uchel yn cofnodi yn ôl yw hyd y cebl llusgo.
permalink: /artists/clear-air-turbulence.html
---

<section class="artist-bio">
    <div class="container">
        <h1>{{ page.title }}</h1>

        <img class="artist-photo" src="{{ page.image | relative_url }}" alt="{{ page.title }}"/>

        <div class="artist-description">
            {% if page.bio.en %}
            <div class="bio-text" data-lang="en">{{ page.bio.en | markdownify }}</div>
            {% endif %}
            {% if page.bio.cy %}
            <div class="bio-text" data-lang="cy" style="display: none;">{{ page.bio.cy | markdownify }}</div>
            {% endif %}

            {% if page.bluesky or page.website %}
            <div class="artist-links" style="margin-top: 1em; margin-bottom: 1.5em;">
                {% if page.bluesky %}
                <a href="{{ page.bluesky }}" target="_blank" rel="noopener noreferrer" class="artist-icon">
                    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/bluesky.svg" alt="Bluesky"
                         class="footer-icon">
                </a>
                {% endif %}

                {% if page.website %}
                <a href="{{ page.website }}" target="_blank" rel="noopener noreferrer" class="artist-icon">
                    <i class="fas fa-link artist-icon"></i>
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>

        <a class="back-to-artists" href="{{ site.baseurl }}/#artists">← Back to Artists</a>
    </div>
</section>